.avatar {
  width: var(--avatar-side);
  height: var(--avatar-side);
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--nord-snow100);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
